.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f3f6;
}

.login-box {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #2874f0;
  color: white;
  border: none;
  cursor: pointer;
}

.login-box p {
  text-align: center;
  margin-top: 15px;
}