.payment-container{

display:flex;
justify-content:center;
padding:30px;

}



.payment-box{

width:400px;
padding:25px;
border:1px solid #ddd;
border-radius:10px;

}



.payment-option{

padding:15px;
border-bottom:1px solid #eee;

}



label{

margin-left:10px;

}



button{

width:100%;
padding:12px;
margin-top:15px;

background:#2874f0;
color:white;

border:none;
border-radius:5px;

cursor:pointer;

}